<app-navbar></app-navbar>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-5">Find your next favorite restaurant!</h1>
      <div class="form-group">
        <br>
          <input class="form-control form-control-lg" type="text" placeholder="Search for restaurants or cuisines..." id="inputLarge">
          <br>
          <button type="button" class="btn btn-success btn-lg">Search!</button>
        </div>
        <br>
        <br>
        <app-carousel></app-carousel>
    </div>
  </div>